html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
/*** Rework **/
.content_application{
    float: none;
    margin: 0 auto;
    box-shadow: 1px 1px 11px 0px #d0c9c9;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}
.form-check.txt {
    margin-bottom: 7px;
}
.title_application{
    text-align: center;
    font-size: 18px;
    margin: 20px;
}
.application-form label{
    display: block;
}
.application-view label{
    display: block;
}
.fl {
    padding: 10px;
}
.app_pnl {
    background: #eae9e9;
    padding: 5px;
    border-radius: 5px;
}
.app_one {
    border-bottom: 1px solid #dddddd;
    padding: 10px;
}
.app_one:hover {
    background: #eae9e952;
}
.ttl {
    border-right: 1px solid #e0dfdf;
}
.file_upload {
    float: none;
    margin: 0 auto;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #e5e2e2;
}
.file_upload_title {
    padding: 8px 15px;
    margin: 15px 0px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 5px;
    text-align: center;
}
.file_upload_title h3 {
    margin: 0px;
}
.slt .form-group {
    padding: 0px;
    margin: 0px;
}
.knp {
    padding: 5px;
    text-align: right;
}
.reg_num {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #6b6969;
    border: 1px solid #d0ecc5;
    padding: 2px 10px;
    background: #dff0d8;
    border-radius: 5px;
}
.reg_btn {
    text-align: right;
}
.send_date {
    border: 1px solid #eae9e9;
    border-radius: 5px;
    color: #40a240;
    text-align: center;
}
.status_app {
    padding: 10px 20px;
    background: #ffafad;
    margin-bottom: 30px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 20px;
    text-align: center;
}
.content_upl_file {
    float: none;
    margin: 0px auto;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
}
.block_upl_file {
    background: whitesmoke;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
}
.info_block_upl {
    background: #dafbec;
    border-radius: 5px;
    text-align: center;
    color: #787a7b;
    float: none;
    margin: 0px auto;
    margin-bottom: 20px;
}
.info_block_upl.no {
    background: #f9e2e2;
    color: #545454;
}
.inx_status1 {
    background: #49a2ef;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    color: white;
}
.inx_status2 {
    background: #8befc5;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    color: white;
}
.inx_status3 {
    background: #f9cd2e;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    color: white;
}
.inx_status4 {
    background: #5cb85c;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    color: white;
}
.inx_status5 {
    background: #f52706;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    color: white;
}
.status1 {
    padding: 10px 20px;
    background: #49a2ef;
    margin-bottom: 30px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 20px;
    text-align: center;
    color: white;
}
.status2 {
    padding: 10px 20px;
    background: #8befc5;
    margin-bottom: 30px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 20px;
    text-align: center;
    color: white;
}
.status3 {
    padding: 10px 20px;
    background: #f9cd2e;
    margin-bottom: 30px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 20px;
    text-align: center;
    color: white;
}
.status4 {
    padding: 10px 20px;
    background: #5cb85c;
    margin-bottom: 30px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 20px;
    text-align: center;
    color: white;
}
.status5 {
    padding: 10px 20px;
    background: #f52706;
    margin-bottom: 30px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 20px;
    text-align: center;
    color: white;
}
.btn_filter {
    display: block;
    padding: 7px 30px;
    background: #eae9e9;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}
.btn_filter:hover {
    background: #dad7d7;
}
.admin_filter {
    border: 1px solid #eae9e9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background: #fbfbfb;
}
.block_btn {
    margin-bottom: 20px;
    padding: 5px;
    background: whitesmoke;
    border-radius: 5px;
    border: 1px solid #f1efef;
    box-shadow: 0px 2px 3px 0px #c3c3c3;
}
.row_block {
    float: none;
    margin: 0px auto;
}
.form_letter{
    text-align: right;
    padding: 3px;
}
.send_agenda {
    text-align: right;
    padding: 3px;
}
/*************************************/
.agreements_blank {
    float: none;
    margin: 0 auto;
    box-shadow: 1px 1px 11px 0px #d0c9c9;
    border-radius: 5px;
    padding: 30px 70px;
    margin-bottom: 20px;
}
.name_org {
    float: right;
}
.con_agre {
    font-size: 12px;
}
.content_blank p{
    text-align: justify;
}
.modal_header {
    text-align: center;
    font-size: 25px;
    color: #7f7f7f;
}
.checkbox_all, .checkbox_no_all {
    cursor: pointer;
}
.col-md-12.blk_btn_agenda {
    margin-top: 25px;
}
.title_adn {
    margin-left: 40px;
    padding-bottom: 20px;
}
.blk_hd {
    margin-bottom: 20px;
    border: 1px solid #eae9e9;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0px 2px 8px 0px #e4dede;
}
.blk_content {
    padding: 5px 0;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    border-top: 3px solid #e5e5e5;
    border-bottom: 3px solid #e5e5e5;
    margin-bottom: 5px;
}
.blk_all {
    margin-top: 20px;
}
.blk_preparation {
    padding: 0px;
}
.blk_info {
    border: 2px solid #fd02024f;
    border-radius: 5px;
    margin-left: 20px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}
.btn_zip{
    margin: 15px;
    border-top: 1px solid #e5e2e2;
    padding: 15px;
}
.blk_search_org{
    height: 200px;
    overflow: auto;
    margin-bottom: 20px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    padding: 15px;
}
.title_search_org {
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 700;
    margin-left: 30px;
}
.title_org {
    padding-top: 5px;
}
.title_org_agenda{
    padding-top: 5px;
    text-align: left;
}
.blk_org_content {
    border-bottom: 1px solid #c1c1c1;
}
.blk_files {
    border: 1px solid #eae8e8;
    border-radius: 5px;
}
.indf_org {
    text-align: left;
}
.indf_org span {
    background: #f5f7f5;
    color: #40a240;
    margin-left: 5px;
    padding: 2px 5px;
    border-radius: 5px;
}
/*.blk_search_org:before {
    content: "";
    display: block;
    height: 120px;
    position: relative;
    top: 80px;
    background-image: linear-gradient(to bottom, rgb(204, 200, 200), #fbfbfb 75%);
}*/